/*:root {

   --color-deepgrey:#231f20;
   --color-maroon:#602534;
   --color-lightbeige:#ccbeb5;
   --color-pastelpink:#d4a9a5;
   --color-lightgrey:#e5e3e1;
   --color-bluegrey:#9ba4a3;

   --color-white:#fff;1;
   --color-black:#11
}
*/

body {
   background-color:var(--color-lightgrey);
}


.image-gallery-3{
/*	align-items: left;*/
	width: 300px;
	height: 300px;
/*	margin: 20px;*/
/*	padding-top: 40px;*/
}


/*HOMEPAGE BANNER*/

.hp-banner-all{
   text-align:center;
   margin-top:50px;
   margin-bottom:20px;
}

.hp-subheading{
   letter-spacing:.15em;
   margin-bottom:8px;
}

.hp-title{
   letter-spacing:.2em;
   position: relative;
}


.hp-cta{
   text-decoration:underline;
}

.hp-imageplacement{
   padding: 20px;
   margin-left: 30px;
}

.hp-bg-text-format{
   padding-right:10em;
   color:var(-color--white);
}
